@font-face {
    font-family: 'HelveticaLight';
    src: url('/fonts/HelveticaNeueLight.otf') format('truetype');
  }

.projectBox{
    display: flex;
    flex-direction: column;

    border: solid 2px black;
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

.title{
    margin: 0;
}

.text{
    margin: 5px 0px;
    font-size: large;
}

.lineSeparator{
    border: solid 1px black;
    width: 50%;
}

h2{
    font-family: 'HelveticaLight';
    margin: 3px 0px 10px;
}

.image {
    margin: 0 auto;
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 8px;
}

.projectBox a{
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    text-decoration: underline;
}

.imagesGrid{
    margin:20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
}

.category-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 10px 0px; 
}

.category-filters button{
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    padding: 10px;
    font-family: 'HelveticaLight';
    font-size: large;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: solid 1px black;
}

.category-filters button.active{
    color: #fff;
    background-color: #000;
}

.category-filters button:not(.active):hover{
    background-color: #ddd;
}
