@font-face {
  font-family: 'Helvetica';
  src: url('assets\misc\HelveticaNeueMedium.otf') format('truetype');
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('assets\misc\HelveticaNeueLight.otf') format('truetype');
}

.card{
  padding-top: 200px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 10%;
  max-width: 250px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .cardImage{
  max-width: 80%;
  height: auto;
  border-radius: 5%;
  margin-bottom: 10px;
}

.footer{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-link{
  text-decoration: none;
  color: black;
  transition: color 0.3s, text-decoration 0.3s;
}

.header-link:hover {
  text-decoration: underline;
  color: black;
}

h1{
  font-family: 'Helvetica';
}

h2{
  font-family: 'Helvetica';
}

p{
  font-family: 'HelveticaLight';
}


